body { 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: block;
width: 99%;
height: 100%
position: absolute;
overflow: auto;
}